---
---
<!-- get modelType -->
{% include fragment-modelType.html id='Observation-Key-Pop' %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section 4" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='Observation-Key-Pop' active='definition' %}

<a name="root"> </a>
<h2 id="root">{{modelType}}: Observation_Key_Pop - Detailed Descriptions</h2>

<p>Definitions for the Observation-Key-Pop {{modelType | downcase}}.</p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='StructureDefinition' id='Observation-Key-Pop' %}

  {%include StructureDefinition-Observation-Key-Pop-dict.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='StructureDefinition' id='Observation-Key-Pop' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
