---
---
<!-- get modelType -->
{% include fragment-modelType.html id='Observation-Viral-Load' %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section 5" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='Observation-Viral-Load' active='mapping' %}

<a name="root"> </a>
<h2 id="root">{{modelType}}: Observation_Viral_Load - Mappings</h2>

<p>Mappings for the Observation-Viral-Load {{modelType | downcase }}.</p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='StructureDefinition' id='Observation-Viral-Load' %}

  {%include StructureDefinition-Observation-Viral-Load-maps.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='StructureDefinition' id='Observation-Viral-Load' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
