---
---
<!-- get modelType -->
{% include fragment-modelType.html id='Observation-Viral-Load' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='Observation-Viral-Load' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: Observation_Viral_Load - Change History</h2>
  <p>Changes in the Observation-Viral-Load {{modelType | downcase}}.</p>

  {%include StructureDefinition-Observation-Viral-Load-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
